* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

body,
html {
  background-color: rgb(49, 47, 47);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  width: 70%;
  height: 515px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

#scores {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 3.5rem;
  background-color: rgb(200, 196, 209);
}

.box {
  display: flex;
  gap: 5px;
}

.para {
  font-size: 25px;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.spanclass {
  font-size: 25px;
  font-weight: 600;
  background-color: #fff;
  width: 40px;
  border-radius: 5px;
  text-align: center;
}

.circles {
  height: calc(515px - 3.5rem);
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.dot {
  display: flex;
  color: #ff0000;
  width: 40px;
  height: 40px;
  background-color: aliceblue;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 800;
}
.dot:hover {
  background-color: rgb(99, 179, 179);
  cursor: pointer;
}
